<!DOCTYPE html>
<html>
<head>
  <title>ReeveProperties</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#title">Reeve Properties</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#ponte-vedra" role="button">Ponte Vedra Beach</a>
          </li>
          <li class="dropdown">
            <a class="page-scroll" href="#sawgrass">Sawgrass</a>
          </li>

          <li>
            <a class="page-scroll" href="#cranes-lake">Crane's Lake</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<header>
  <div class="container-fluid" id="title">
    <div class="intro-text">
      <h1>Beautiful Beach Rentals</h1>
      <p>Grab your favorite flip flops, it's beach time.</p>
    </div>
  </div>
</header>
<br>
<section id="ponte-vedra">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Ponte Vedra Beach</h1>
                    <p class="section-subheading text-muted">A short drive toward the coast from Jacksonville,<br>Ponte Vedra Beach is synonymous with luxury, relaxation, and beauty. </p><br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="/img/Sawgrass-17th-hole.jpg" width="100%" height="100%">
                    </span>
                    <h4 class="service-heading">Golf and Tennis</h4>
                    <p class="text-muted">Golf fans rejoice! Ponte Vedra is home to numerous public and private golf courses, including the PGA Tour headquarters and The Players Championship at TPC Sawgrass, the location of the famous 17th-hole island green. For tennis enthusiasts, the ATP Tour and American headquarters also call Ponte Vedra home!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="/img/oceanfront-beach-walkovers.jpg" width="100%" height="100%">
                    </span>
                    <h4 class="service-heading">Sand and Sea</h4>
                    <p class="text-muted">Nestled just north of St. Augustine, Ponte Vedra's 40-foot sand dunes are among the highest in Florida. On the southern end of this beautiful beach town is the <a href="http://www.gtmnerr.org/">Guana Tolomato Matanzas National Estuarine Research Reserve</a>, providing access to secluded beaches, hiking trails, picnicking & other outdoor opportunities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="/img/sjtc.jpg" width="100%">
                    </span>
                    <h4 class="service-heading">Shopping and Dining</h4>
                    <p class="text-muted">The nearby St. Johns Town Center represents the heart of shopping and dining in Jacksonville, Florida. The outdoor lifestyle mall is home to 150 of the hottest stores, many exclusive in the market, including Dillard’s, Apple, Pottery Barn and Ann Taylor as well as shops in the palm-lined streets of the Luxury Collection such as Louis Vuitton, Tiffany & Co. and Mayors.</p>
                </div>
            </div>
        </div>
    </section>

<section class="rental-pics">
  <div class="container well well-lg">

    <div class="row">

    <div class="col-lg-12">
        <h1 class="section-heading properties">Our Properties</h1>
    </div>

       <div class="col-lg-12" id="sawgrass">
           <h2 class="page-header">Sawgrass Beach Club Villas</h2>
       </div>

       <div class="col-lg-12">
           <h3>633 Summer Place</h3>
           <br>
       </div>

       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/633/summerplace01.jpg" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/633/summerplace02.jpg" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/633/summerplace03.jpg" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/633/summerplace04.jpg" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/633/summerplace05.jpg" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/633/summerplace06.jpg" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/633/summerplace07.jpg" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/633/summerplace08.jpg" alt="">
           </a>
       </div>
<!--
       <div class="col-lg-12">
           <h3>635 Summer Place</h3>
           <br>
       </div>

       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="http://placehold.it/400x300" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="http://placehold.it/400x300" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="http://placehold.it/400x300" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="http://placehold.it/400x300" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="http://placehold.it/400x300" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="http://placehold.it/400x300" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="http://placehold.it/400x300" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="http://placehold.it/400x300" alt="">
           </a>
       </div> -->

       <div class="col-lg-12" id="cranes-lake">
           <h2 class="page-header">Crane's Lake</h2>
       </div>

       <div class="col-lg-12">
           <h3>109 Crane's Lake Drive</h3>
           <br>
       </div>

       <div class="row">

         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
             <a class="thumbnail" href="#">
                 <img class="img-responsive" src="/img/109/craneslake01.jpg" alt="">
             </a>
         </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
             <a class="thumbnail" href="#">
                 <img class="img-responsive" src="/img/109/craneslake02.jpg" alt="">
             </a>
         </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
             <a class="thumbnail" href="#">
                 <img class="img-responsive" src="/img/109/craneslake03.jpg" alt="">
             </a>
         </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
             <a class="thumbnail" href="#">
                 <img class="img-responsive" src="/img/109/craneslake04.jpg" alt="">
             </a>
         </div>

       </div>

       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/109/craneslake05.jpg" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/109/craneslake06.jpg" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/109/craneslake07.jpg" alt="">
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <a class="thumbnail" href="#">
               <img class="img-responsive" src="/img/109/craneslake08.jpg" alt="">
           </a>
       </div>
     </div>
  </div>
</section>


       <hr>

       <!-- Footer -->
       <footer>
           <div class="row">
               <div class="col-lg-12">
                   <p>Copyright &copy; Reeve Properties 2016</p>
               </div>
           </div>
       </footer>

   </div>

<%= yield %>

</body>
</html>
